---
layout: home
---

<section id="episodes" class="home-section home-section-episodes">
    <div class="container">
        <p>
            <span class="text-highlight_color_yellow">Manufacturist interviews have concluded! Thank you to all of our
                guests for sharing your hard-won experiences with the community.</span>
        </p>
        <p>
            For our listeners, if you enjoyed these interviews then definitely check out our new show coming soon,
            which will cover a wider range of Industry 4.0 topics beyond manufacturing but with the same expert interview format.
        </p>
        <p>
            Industrial Evolution is now live at <a href="https://evolution.industrial.fm">https://evolution.industrial.fm</a>. See you
            there!
        </p>
        <br>
        <h2>Latest Episodes</h2>
        <hr class="home-section__h-bar" />
        <br>
        {% include episodes_list.html count=3 %}
        <br>
        <br>
        <p class="text-center text-lg-right">
            <a href="/podcast/episodes" class="btn btn-primary">Explore all episodes &amp; transcripts &rarr;</a>
        </p>
    </div>
</section>
<section id="listen" class="home-section home-section_variant_inverse home-section-listen">
    <div class="container text-center">
        <h2>Listen to be More Profitable &amp; Competitive</h2>
        <hr class="home-section__h-bar" />
        <br>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <a href="{{ site.podcast_dir_apple_url }}">
                    <img src="/img/directory-badge-apple.svg"
                        class="home-section-listen__directory-img d-block my-2 mx-auto"
                        alt="Listen on Apple Podcasts" />
                </a>
            </div>
            <div class="col-lg-3">
                <a target="_blank" href="{{ site.podcast_dir_spotify_url }}">
                    <img src="/img/directory-badge-spotify.svg"
                        class="home-section-listen__directory-img d-block my-2 mx-auto" alt="Listen on Spotify" />
                </a>
            </div>
            <div class="col-lg-3">
                <a href="{{ site.podcast_dir_google_url }}" alt="Listen on Google Podcasts">
                    <img src="/img/directory-badge-google.svg"
                        class="home-section-listen__directory-img d-block my-2 mx-auto"
                        alt="Listen on Google Podcasts" />
                </a>
            </div>
            <div class="col-lg-3">
                <a target="_blank" href="{{ site.podcast_dir_stitcher_url }}">
                    <img src="/img/directory-badge-stitcher.png"
                        class="home-section-listen__directory-img d-block my-2 mx-auto" alt="Listen on Stitcher" />
                </a>
            </div>
        </div>
        <!-- <br>
        <br>
        <br>
        <br>
        <form
            action="https://manufacturist.us4.list-manage.com/subscribe/post?u=f7b1646a2802ccb13aa74be86&id=0793bf6135"
            method="post" target="_blank" class="home-section-listen__subscribe-form mx-auto">
            <input type="text" class="form-control my-2" name="FNAME" placeholder="Your Name" />
            <input type="email" class="form-control my-2" name="EMAIL" placeholder="Your Email" />
            <input type="submit" class="btn btn-primary btn-block my-2" value="Get Email Alerts" />
            <p>
                (Plus invitations &amp; access to occasional free events.)
            </p>
        </form> -->
        <br>
        <br>
        <a href="{{ site.podcast_rss_url }}" class="btn btn-dark mx-auto my-2">
            <i class="icon-rss"></i> RSS Feed
        </a>
    </div>
</section>
<section id="about" class="home-section home-section-about">
    <div class="container text-center">
        <h2>A Resource for Growth-Oriented Small Manufacturers</h2>
        <hr class="home-section__h-bar" />
        <br>
        <br>
        <div class="row text-left">
            <div class="col-lg-6">
                <section>
                    <img class="home-section-about__art d-block" src="/img/action-header.jpg"
                        alt="Factory operator using digital tools to work more efficiently" />
                    {% include sharethis_inline.html %}
                    <br>
                    <h5 class="font-weight-bold">
                        Manufacturist is a podcast and educational resource for small manufacturers who want
                        to be more profitable and competitive.
                    </h5>
                    <p>
                        If you own or manage a small manufacturing business, then you can’t afford to miss this...
                    </p>
                    <p>
                        We're interviewing the world's leading industrial experts
                        to find out how you can use low-cost digital tools to earn more money with the people and
                        machines
                        you already have.
                    </p>
                    <p>
                        With each new episode you'll get an inside look into the success stories of small
                        business owners and managers just like
                        you &mdash; complete with regrets and failures.
                    </p>
                    <p>
                        You'll also get valuable insights from vendors, government officals, academics, and other
                        experts
                        with broad exposure to the industry.
                    </p>
                    <p>
                        <strong>From these stories and insights you'll discover the practical steps necessary
                            to:</strong>
                    <ul class="checklist">
                        <li>pinpoint exactly where you're making the most money;</li>
                        <li>free up cash flow while reducing waste;</li>
                        <li>make it easier for customers to buy from you;</li>
                        <li>make it cheaper for suppliers to serve you;</li>
                        <li>focus your staff on work that has more value to customers;</li>
                    </ul>
                    </p>
                    <p>
                        And...
                    </p>
                    <p class="font-weight-bold">
                        Do all of this without a huge investment in complex technology!
                    </p>
                    <p>
                        <a href="/podcast/episodes" class="btn btn-info">Listen or subscribe now &rarr;</a>
                    </p>
                    <br>
                    <br>
                    <br>
                </section>
            </div>
            <div class="col-lg-6">
                <div class="home-section-about__bio-block">
                    <section>
                        <img class="home-section-about__headshot d-block mx-auto" src="/img/chad-perry-headshot.jpg"
                            alt="Headshot of Chad Perry - Host and Software Engineer" />
                        <h5 class="text-center">Chad Perry</h5>
                        <p class="text-muted font-italic text-center">Host &amp; Software Engineer</p>

                        <p class="font-weight-bold">
                            A huge nerd and technically a "rocket scientist"...
                        </p>
                        <p>
                            After graduating university with a degree in aerospace engineering, I took the
                            unconventional
                            route and started a business in the United States.
                        </p>
                        <p>
                            We helped B2B companies build complex e-commerce websites that integrated with backend
                            systems
                            like inventory and ERP.
                            With digital sales tools and better information to work with, our clients were able to
                            unlock
                            revenue potential and make more effective decisions about where to invest their resources.
                        </p>
                        <!-- <p>
                            Eventually I decided to travel the world for a few years before settling in Europe, where
                            I've now commited to building custom software and commercial products that help
                            manufacturers
                            stay competitive through the Fourth Industrial Revolution.
                        </p> -->
                        <p>
                            As an engineer, I'm obsessed with solving problems. And the biggest problem I see today is
                            that smaller manufacturing businesses are increasingly unable to compete because
                            technology has historically been
                            too expensive, complicated, and disruptive to bother with.
                        </p>
                        <p>
                            So that's why I started Manufacturist &mdash; a podcast and free educational
                            resource to help
                            small manufacturers adopt simple, low-cost digital tools that make them more productive with
                            immediate
                            payoff.
                        </p>
                        <p>
                            Enjoy the show!
                        </p>
                        <p>
                            <img src="/img/chad-perry-sig.png" class="home-section-about__signature"
                                alt="Chad Perry's signature" />
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/perryonfire"
                                title="Connect with Chad Perry on LinkedIn">Connect on LinkedIn &rarr;</a>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="home-section home-section_variant_inverse home-section-contact">
    <div class="container text-center">
        <h2>Ask the Experts</h2>
        <hr class="home-section__h-bar" />
        <br>
        <br>
        <form class="home-section-contact__form mx-auto" action="#">
            <p class="text-left">
                Send us your questions to pass along to our guests. You can also send business inquiries
                or share your own stories of digital transformation &mdash; we're looking forward to hearing from you.
            </p>
            <div class="form-row">
                <div class="col-md-6">
                    <input type="text" class="form-control d-block my-1" name="name" readonly placeholder="Your Name" />
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control d-block my-1" name="email" readonly
                        placeholder="Your Email" />
                </div>
            </div>

            <textarea class="form-control my-2" name="message" rows="4" readonly
                placeholder="Question or message..."></textarea>

            <button type="submit" class="btn btn-secondary btn-block my-3" disabled>Send</button>

            <p>(End of show. No longer accepting enquiries.)</p>
        </form>
    </div>
</section>
<section id="worldwide" class="home-section home-section-worldwide">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2>Join thousands of small manufacturers worldwide!</h2>
                <hr class="home-section__h-bar" />
                <br><br>
                <p>
                    Small manufacturing businesses are vital to every economy in the world.
                    Hear from manufacturers across Europe and North America, many of which are on the same journey you
                    are.
                </p>
                <br>
                <p>
                    <a href="/podcast/episodes" class="btn btn-primary">Explore episodes &amp; transcripts
                        &rarr;</a>
                </p>
                <br>
            </div>
            <div class="col-lg-7">
                <img src="/img/map.jpg" class="home-section-worldwide__art"
                    alt="Map of the world with random locations pinned" />
            </div>
        </div>
    </div>
</section>