<div class="align-self-center mx-auto text-center">
    <h1>Industry 4.0 Podcast for Small Manufacturers</h1>
    <br />
    <br />
    <br />
    <div class="header__player mx-auto text-left">
        <p class="font-weight-bold">Trailer</p>
        <p>Using digital tools to stay profitable and competitive. What to expect from each episode and what you
            as the owner or manager of a small manufacturing business will get out of listening.</p>
        {% include audio_player.html path="Trailer_r2020-01-05-1204UTC.mp3" %}
        <!-- <iframe style="border: none"
            src="//html5-player.libsyn.com/embed/episode/id/12620264/height/90/theme/legacy/thumbnail/no/direction/backward/"
            height="50" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen
            oallowfullscreen msallowfullscreen></iframe> -->
    </div>
    <br />
    <br />
    <br />
    <p class="header__banner-more-indicator"><a href="#home">&darr;</a></p>
</div>