<div class="episode">
    <div class="row">
        <div class="col-lg-2">
            <img class="mx-auto d-lg-block w-100 d-none" src="/img/placholder-150x150.png" />
        </div>
        <div class="col-lg-10">
            <h3><a href="/episode/2020-w03-william-bridgman-warren-services">Ep 2020-W03 : William Bridgman
                    /
                    Warren Services</a></h3>
            <p>
                <small>Jan 21, 2020 | Recorded: Dec 4, 2019</small>
            </p>
            <p>
                William Bridgman, Chairman of Warren Services, a family-owned manufacturing business in
                Thetford, United Kingdom. Will shares his 20+ year journey to digitally transform his
                business
                and offers some pointed advice about the fastest, easiest way to make an impact on your
                bottom
                line with very little investment.
            </p>
        </div>
    </div>
</div>