<a target="_blank" class="dropdown-item listen-tag-apple" href="{{ site.podcast_dir_apple_url }}">Apple Podcasts</a>
<a target="_blank" class="dropdown-item listen-tag-google" href="{{ site.podcast_dir_google_url }}">Google Podcasts</a>
<a target="_blank" class="dropdown-item listen-tag-spotify" href="{{ site.podcast_dir_spotify_url }}">Spotify</a>
<a target="_blank" class="dropdown-item listen-tag-stitcher" href="{{ site.podcast_dir_stitcher_url }}">Stitcher</a>
<a target="_blank" class="dropdown-item listen-tag-rss" href="{{ site.podcast_rss_url }}">RSS Feed</a>