<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/brand-logo-with-fill.svg" class="d-none d-md-inline-block" style="max-height: 40px;" alt="Manufacturist logo" />
            <img src="/img/brand-icon-with-fill.svg" class="d-inline-block d-md-none" style="max-height: 40px;" alt="Manufacturist logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/podcast/episodes">Episodes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#listen">How to Listen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>