.footer,
.footer a {
  color: $palette-dark-gray-overlay-lightest;
}

.footer a {
  text-decoration: underline;
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  color: $palette-white;
}

.footer__functions {
  background-color: $palette-dark-gray-lighter;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__info {
  background-color: $palette-dark-gray-darker;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: .85rem;
}

.footer__info .icon-stack {
  margin-left: 5px;
  margin-right: 5px;
}

.footer__info .icon-stack a {
  text-decoration: none;
}

.footer__info .icon-stack-2x {
  color: $palette-dark-gray-overlay-light;
}

.footer__info .icon-stack-1x {
  color: $palette-dark-gray-overlay-lightest;
}

.footer__social {
  font-size: 1.4rem;
}

.footer__mfr-sponsor-logo-box {
  background-color: #b60005;
  border: solid 2px #fff;
  padding: 20px;
  max-width: 400px;
}

.footer__podcast-directories-menu a {
  color: $palette-black;
  text-decoration: none;
}

.footer__subscribe-form {
  max-width: 440px;
}

.footer__ep-list {
  list-style: none;
  padding: 0;
}

.footer__ep-list-item {
  background-color: $palette-black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.footer__chainsmith-logo {
  height: 36px;
}