.default-main {
    padding-top: 80px;
    padding-bottom: 80px;
}

.default-main h1,
.default-main h2,
.default-main h3,
.default-main h4,
.default-main h5,
.default-main h6 {
  color: $palette-blue-brand;
}